name = "maronn-auth-blog-embed-production"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Enable logging
[observability]
enabled = true

[env.production]
name = "maronn-auth-blog-embed-production"
routes = [
  { pattern = "embed.maronn-room.com", custom_domain = true }
]
