name = "maronn-auth-blog-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "development"

[[d1_databases]]
binding = "DB"
database_name = "maronn-auth-blog-db"
database_id = "xxx"

[[kv_namespaces]]
binding = "KV"
id = "xxx"

[[r2_buckets]]
binding = "R2"
bucket_name = "maronn-auth-blog-images"

[env.production]
name = "maronn-auth-blog-api-production"

[env.production.vars]
ENVIRONMENT = "production"
